<html>
    <head>
        <%- include('partials/head'); %>
        <style>
            body{
                position:relative;
                width:100%;
                min-width:1000px;
                height:100%;
            }
            #wrapper{
                position:relative;
                margin-top:56px;
                height:calc(100% - 56px);
            }
            /* Sidebar */
            #sidebar-wrapper{
                z-index:1;
                position: absolute;
                width:0;
                height:calc(100% - 56px);
                overflow-y:hidden;
                opacity:0.9;
                background:#343a40 !important;
                transition:all .5s;
                color:white;
            }

            /* Main Content */
            #page-content-wrapper{
                width: 100%;	
                position:relative;
                /* padding:15px; */
                transition:all .5s;
            }
            /* Change the width of the sidebar to display it*/
            #wrapper.menuDisplayed #sidebar-wrapper{
                width:250px;
            }

            #wrapper.menuDisplayed #page-content-wrapper{
                padding-left:250px;
            }

            /* Sidebar styling */
            .sidebar-nav{
                padding:0;
                list-style:none; 
                transition:all .5s;
                width:100%;
                text-align:center;
            }

            .sidebar-nav li{
                line-height:40px;  
                width:100%;
                transition:all .3s;
                padding:10px;
            }

            .sidebar-nav li a {
                display:block;
                text-decoration:none;
                color:#ddd;
            }

            .sidebar-nav li:hover{
                background:#846bab;
            }
            .bugInfo{
                position:fixed;
                bottom:0;
                left:0;
                width:100%;
                background:white;
                height:15rem;
            }
            /*  Resizable stuff */
            .navbar-default {
            background-color:#fafafa;
            min-height: 40px;
            border-width:0;
            }
            
            .navbar-default a.navbar-brand {
            color:#FC1298;
            font-size:22px; 
            font-weight:800;
            text-shadow:0 0 1px rgba(255,0,210, 0.4);
            }

            .navbar-default li>a,.navbar-brand {
            padding-top: 11px;
            padding-bottom: 11px;
            line-height:19px;
            }

            .navbar-toggle {
                padding:5px;
            }

            .row {
                margin-left:0;
                margin-right:0;
            }

            .row .sp {
            height:150px;
            min-height:45px;
            padding-right:0;
            padding-left: 0;
            background-color: #222;
            border-bottom:4px solid transparent;
            }

            .row .sp.toolbar {
                padding-bottom:30px;
                height:240px;
            }

            .last {
                height:100%;
            }

            .outer {
            border:0px #000 solid;
            height:100%;
            }

            .preview {
            overflow-y: auto;
            overflow-x: hidden;
            /*height:100%;
            position: relative;*/
            }

            .resize {
            /*border-right:3px #eee solid;*/
            }

            .pane-settings {
            background: #002B36;
            color:#b3b1b1;
            position: absolute;
            z-index: 199;
            padding: 3px;
            font-size: 16px;
            opacity: .8;
            right: 5px;
            top: 0;
            margin: 0;
            }
            
            .pane-panel {
            background: #001a25;
            color:#b3b1b1;
            position: absolute;
            z-index: 198;
            right: 5px;
            top: 28px;
            margin: 0;
            width:220px;
            min-height:100px;
            display:none;
            }

            input[type=radio], input[type=checkbox] {
                vertical-align:middle;
                margin-top:-1px;
            }
            .pane-panel .row > [class*='col-']{
                color:#000;
                padding:4px;
                font-size:12px;
            }
            .pane-panel .row > [class*='col-']:nth-child(1) {
                background-color: rgba(240,240,240,.4);
            }
            .pane-panel .row > [class*='col-']:nth-child(2) {
                background-color: rgba(240,240,240,.5);
            }
            .pane-panel .row > [class*='col-']:nth-child(3) {
                background-color: rgba(240,240,240,.6);
            }
            .pane-panel .row > [class*='col-']:nth-child(4) {
                background-color: rgba(240,240,240,.7);
            }
            .pane-panel .row > [class*='col-']:nth-child(5) {
                background-color: rgba(240,240,240,.8);
            }
                
            .pane-label {
            font-family: monospace;
            background: #002B36;
            color:#b3b1b1;
            position: absolute;
            z-index: 199;
            padding: 3px;
            font-size: 11px;
            opacity: .7;
            right: 10px;
            bottom: 10px;
            margin: 0;
            }

            .wrapper {
                width:100%;
                margin-top:44px;
                min-height: 100%;
                height: 100%;
                overflow:hidden;
            }

            .inner {
                overflow-y:auto;
                overflow-x:hidden;
                /*height:100%;*/
                min-height:100%;
            }
                
            .navbar-block {
                background-color:#FC1298;
                position:absolute;
                z-index:2;
                border:0 #eee solid;
                right:24px;
                top:24px;
                height:215px;
                width:150px;
                display:none;
            }

            .ui-resizable { }
            .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
            /*.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }*/
            .ui-resizable-e {
                background-color: #666;
                border-right: 1px solid #222;
                border-left: 1px solid #222;
                /*box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);*/
                width:10px;
                z-index: 88 !important;
            }
            .ui-resizable-e:after {
                content: "-";
                display: block;
                position: absolute;
                top: calc(50% - 16px);
                left: 0;
                height: 25px;
                width: 2px;
                background-color:rgba(0,0,0,0.4);
                margin:3px;
            }
            .ui-resizable-s {
                background-color: #666;
                border-top: 1px solid #222;
                border-bottom: 1px solid #222;
                /*box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);*/
                height:10px;
            }
            .ui-resizable-s:after {
                content: "-";
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 12px);
                height: 2px;
                width: 25px;
                background-color:rgba(0,0,0,0.4);
                margin:3px;
            }

            #cssEditor {
                /* add space to bottom since this is not resizeable */
                border-bottom:10px solid transparent;
            }
            #htmEditor {
                
            }

            #descBar > div,#infoBar > div {
                text-overflow:ellipsis;
                white-space:nowrap;
                line-height: 1.1;
                padding:1px;  
            }

            #descBar > div {
                overflow:hidden;
            }

            #descBar,#infoBar {
                border:0 #eee solid;
                border-bottom-width:0px;
                padding-bottom:3px;
                font-size:12px;
            }

            #infoBar small,#descBar small {
                font-size:8px;
                text-transform:uppercase;
                color:#ccc;
                display:none;
            }

            #infoBar .btn {
                background-color:#eee;
            }

            .input-xs {
            height: 21px;
            padding: 1px 4px;
            font-size: 9px;
            line-height: 1;
            border-radius:2px;
            width:120px;
            display:inline;
            }


            .editable {
            float:left;
            margin-right:2px;
            border:1px #ddd solid;
            padding:1px;
            line-height: 1.5;
            border-radius:2px;
            }

            .selp {

            }

            .btn-group.bootstrap-select {
                padding:0;
                margin:0;
                outline:0;
                float:left;
                margin-right:2px;
                margin-bottom:1px;
            }

            .btn-group.open, .dropdown-menu, .btn-group.open .dropdown-toggle {
                box-shadow:0 0 0;
            }

            .btn-group {
            border-color: #ccc;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            }

            .bootstrap-select .btn:focus {
                outline:0 !important;
            }

            .filter-option > span {
                
            }

            ::-webkit-scrollbar {
                width: 0.9em;
            }

            ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            ::-webkit-scrollbar-thumb {
                background: rgba(100, 100, 100, 0.7);
            }

            ::-webkit-scrollbar-corner,
            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(100, 100, 100, 0.4);
            }

            .ace_autocomplete {
            width: 270px;
            z-index: 200000;
            background: #666;
            color: #eee;
            border: 0 lightgray solid;
            position: fixed;
            box-shadow: 2px 3px 5px rgba(0,0,0,.2);
            line-height: 1.4;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark">
            <span class="text-center">
                <a href="#" id='menu-toggle' class="text-white"><i class="fas fa-users fa-lg"></i><br>Users</a>
            </span>
            <div class="bg-dark p-0">
                <h5 class="navbar-brand mb-0 h1">BugTracker</h5>
                <span class="navbar-brand">-&nbsp;&nbsp;&nbsp;Project <%= project %></span>
            </div>
            <span class="text-center">
                <span style='display:inline-block;margin-right:20px;'>
                    <a href="#" class="text-white"><i class="fas fa-sliders-h fa-lg"></i><br>Filter</a>
                </span>
                <span style='display:inline-block'>
                    <a href="#" class="text-white"><i class="fas fa-comments fa-lg"></i><br>Chat</a>
                </span>
            </span>

          </nav>
          <!--  Members section on left (toggleable, maybe add button to the nav bar)  -->
          <div id="wrapper">
            <div id="sidebar-wrapper">
                <h4 class='text-center '>Members</h4>
                <ul class="sidebar-nav text-left">
                    <li style='overflow:hidden;'><a href="#" class='ml-1' style='white-space:nowrap;'>Username 1</a></li>
                    <li><a href="#" class='ml-1' style='white-space:nowrap;'>Username 2</a></li>
                    <li><a href="#" class='ml-1' style='white-space:nowrap;'>Username 3</a></li>
                    <li><a href="#" class='ml-1' style='white-space:nowrap;'>Username 4</a></li>
                    <li><a href="#" class='ml-1' style='white-space:nowrap;'>Username 5</a></li>
                </ul>
            </div>
          
            <div id="page-content-wrapper">
                <div style="position:relative;max-height:calc(100% - 30rem);margin-bottom:30rem;">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="">
                        <tr>
                            <th scope="col">ID</th scope="col">
                            <th scope="col">Description</th>
                            <th scope="col">Page</th>
                            <th scope="col">Component</th>
                            <th scope="col">Type</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% bugs.forEach(function(bug){ %>
                                <tr class=<%= bug.colour; %>>
                                    <td class="text-center"><%= bug.ID %></td>
                                    <td><%= bug.description %></td>
                                    <td><%= bug.page %></td>
                                    <td><%= bug.component %></td>
                                    <td><%= bug.type %></td>
                                    <td><%= bug.priority %></td>
                                    <td><%= bug.status %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class='bugInfo'>
                    <div class="outer bg-dark">
                        <div class="row">
                            <div class="col-sm-6 sp resize tab-pane ui-resizable" id="jsPane">
                                <h2 class='text-center text-white'>Bug Information</h2>
                                <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                                <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
                            </div>
                            <div class="col-sm-6 sp tab-pane ui-resizable" id="cssPane">
                                <h2 class='text-center text-white'>Comments</h2>
                            </div>
                         </div>
                        </div><!--/row-->
                    </div>
                </div>
            </div>
            <!--  Chat Section to the right, displayed by button in nav  -->
            <!--  Bug Info Section  -->
        </div>
        <script>
        $(document).ready(function(){
            $("#menu-toggle").click(function(e){
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });
        });
        </script>
    </body>
</html>