<span class='SHTextBox'>
    <input type='text' id=<%= id %>
    <%= placeholder ? "placeholder=" + placeholder + "" : "" %>
    value=<%= value %>
    />
    <label for=<%= id %>>
        <%= title %>
    </label>
</span>